// Nothing should stay here.
// -----------------------------------------------------------------------------

.bohea {
  $height: 200px;
  // background-color: rgba(white, 0.3);
  // background: url(../images/svg/graph-paper.svg);
  // border-top: dashed 2px rgba(white, 0.5);
  // background: url(../images/svg/graph-paper.svg);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: $height;
  // Close the relative space by adding negative margin-top equal to
  // the element's height or any borders.
  margin-top: 0-$height;
  // Position vertically.
  // This isn't very accurate, likely due to the scaling and 3D transforms.
  // Vertical positioning should vary by breakpoint point to account for varying document length.
  bottom: 50%;
  left: 0;
}

.pullquote {
  blockquote {
    margin: 0;
    color: white;
    border-left-color: rgba(white, 0.3);
    cite {
      color: rgba(white, 0.8);
    }
  }

  @include breakpoint($bp-xl) {
    margin: 0;
    // Half the available space,
    // minus half the date marker width,
    // minus a gap.
    width: calc(50% - 30px - 30px);
    float: right;
  }
}
