// Nothing should stay here.
// -----------------------------------------------------------------------------

.debris {
  position: relative;
  width: 100%;
  z-index: -8;
  margin-top: -100vh;
  .circle {
    @include size(100px);
    position: absolute;
    border-radius: 100%;
    background-color: rgba($c-brand-bright-yellow, 0.3);
    left: calc(50% - 50px);
  }
}
