<div class="page-footer" role="contentinfo">
  <div class="page-footer__inner">
    <ul class="page-footer__links">
      <li><a href="/">Timeline</a></li>
      <li><a href="https://www.ethicaltrade.org" target-"_blank">Ethical Trading Initiative</a></li>
      <li><a href="/privacy.html" target="_blank">Privacy</a></li>
    </ul>
  </div>
</div>
