<div class="page-footer" role="contentinfo">
  <div class="page-footer__inner">
    <h2>Footer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus risus lectus, lacinia eget tempus a, malesuada et odio. Nulla adipiscing convallis volutpat. Praesent varius magna sed orci commodo posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    <p>Vivamus risus lectus, lacinia eget tempus a malesuada et odio.</p>
  </div>
</div>
