<header class="page-header parallax-item fast" role="banner">
  <div class="page-header__logo">
    <img src="images/svg/eti-20-years-logo.svg" alt="Ethical Trading Initiative. For works' rights. For better business. For 20 years.">
  </div>
</header>
