<header class="page-header parallax-item fast" role="banner">
  <div class="page-header__logo">

    {# <img src="images/svg/eti-20-years-logo.svg" alt="Ethical Trading Initiative. For works' rights. For better business. For 20 years."> #}

    {# <img  srcset="images/bitmap/entry-lead/{{ year }}-442w.jpg 442w,
                  images/bitmap/entry-lead/{{ year }}-682w.jpg 682w,
                  images/bitmap/entry-lead/{{ year }}-710w.jpg 710w"
           sizes="(max-width: 520px) 442px,
                  (max-width: 1199px) 682px,
                  (min-width: 1200px) 710px,
                  710px"
             src="images/bitmap/entry-lead/{{ year }}-710w.jpg" alt=""> #}

     <picture>
       <source media="(max-width: 959px)" srcset="images/svg/eti-20-years-logo--no-tagline.svg">
       <source media="(min-width: 960px)" srcset="images/svg/eti-20-years-logo.svg">
       <img src="images/svg/eti-20-years-logo.svg" alt="Ethical Trading Initiative. For works' rights. For better business. For 20 years.">
     </picture>

  </div>
</header>
