<header class="page-header parallax-item fast" role="banner">
  <div class="page-header__logo">
     <picture>
       <source media="(max-width: 959px)" srcset="images/svg/eti-20-years-logo--no-tagline.svg">
       <source media="(min-width: 960px)" srcset="images/svg/eti-20-years-logo.svg">
       <img src="images/svg/eti-20-years-logo.svg" alt="Ethical Trading Initiative. For works' rights. For better business. For 20 years.">
     </picture>
  </div>
</header>
