<!doctype html>
<html lang="en" class="no-js">

<head>

  <meta charset="UTF-8">
  <title>Ethical Trading Initiative - 20 years</title>
  <meta name="description" content="History of Ethical Trading Initiative">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="vendor/@ethical-trading-initiative/base-sass/reset.css">
  <link rel="stylesheet" href="css/style.css">
  {# <link rel="stylesheet" href="vendor/@fancyapps/fancybox/jquery.fancybox.min.css"> #}

  <script src="js/webfontloader.js"></script>
  <script src="js/modernizr.js"></script>

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

</head>

<body>

  {% block page %}{% endblock %}

  <script src="vendor/jquery/jquery.slim.min.js"></script>
  {# <script src="vendor/@fancyapps/fancybox/jquery.fancybox.min.js"></script> #}
  <script src="vendor/scrollmagic/ScrollMagic.min.js"></script>
  <script src="vendor/scrollmagic/plugins/animation.gsap.min.js"></script>
  <script src="vendor/gsap/ScrollToPlugin.js"></script>
  {# <script src="vendor/scrollmagic/plugins/debug.addIndicators.min.js"></script> #}
  <script defer src="vendor/svgxuse/svgxuse.min.js"></script>
  <script src="js/main.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>

    function enableAnalytics() {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('set', 'anonymizeIp', true);
      ga('create', 'UA-9225247-2', 'auto');
      ga('send', 'pageview');
    }

    window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#333231",
            "text": "#ffffff",
            "link": "#EBD66E;"
          },
          "button": {
            "background": "#555199",
            "text": "#ffffff"
          }
        },
        "position": "bottom",
        "type": "opt-in",
        "content": {
          "link": "Privacy policy",
          "href": "/privacy.html"
        },
        onInitialise: function (status) {
          var type = this.options.type;
          var didConsent = this.hasConsented();
          if (type == 'opt-in' && didConsent) {
            enableAnalytics();
          }
        },
        onStatusChange: function(status, chosenBefore) {
          var type = this.options.type;
          var didConsent = this.hasConsented();
          if (type == 'opt-in' && didConsent) {
            enableAnalytics();
          }
        },
        onRevokeChoice: function() {
          var type = this.options.type;
          if (type == 'opt-in') {
            // Disable analytics
            window['ga-disable-UA-9225247-2'] = true;
          }
        }
      })});

  </script>

</body>

</html>
