<div class="timeline-entry">

  <div class="timeline-entry-icon icon--picture">
    <img src="images/icon-picture.svg" alt="Picture">
  </div>

  <div class="timeline-entry-content">
    <h2>Title of section 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
    <a href="#0" class="btn read-more">Read more</a>
    <span class="entry-date">Jan 14</span>
  </div><!-- timeline-entry-content -->

</div><!-- timeline-entry -->
