<div class="paragraphs">
  <p>From the very start, we agree that corporate, NGO and trade union members must work together collaboratively to identify and promote good practice. Our tripartite approach is born.</p>

  <p>Our first task is to negotiate and draw up a model code of conduct – a <a href="https://www.ethicaltrade.org/eti-base-code">Base Code</a> which reflects internationally agreed labour standards – and to approve a set of implementation principles that will lead to best practice in applying the Code.</p>

  <p>Today, the Base Code remains almost identical to what it was in 1998. So too is the expectation on members: to work towards the continuous improvement of their ethical trade policies and practices and to report annually against these.</p>

  <p>More broadly, the Base Code is still viewed as a gold standard and many thousands of companies work towards it, whether members or not.</p>
</div>
