<blockquote>Everyone agrees that something should and could be done about the working conditions of people … who produce goods for our High Street. The Ethical Trading Initiative is an important first step and will provide a common approach to enable change.
<cite>Dino Adriano, Chief Executive, J Sainsburys PLC</cite>
</blockquote>

<p>From the very start, we agree that corporate, NGO and trade union members must work together collaboratively to identify and promote good practice. Our tripartite approach is born.</p>

<p>Our first task is to negotiate and draw up a model code of conduct – a <a href="https://www.ethicaltrade.org/eti-base-code">Base Code</a> which reflects internationally agreed labour standards – and to approve a set of implementation principles that will lead to best practice in applying the Code.</p>

<p>Today, the Base Code remains almost identical to what it was in 1998. So too is the expectation on members: to work towards the continuous improvement of their ethical trade policies and practices and to report annually against these.</p>

<p>More broadly, the Base Code is still viewed as a gold standard and many thousands of companies work towards it, whether members or not.</p>

<ul>
  <li>Our five pioneering company members are ASDA, Premier Brands, The Body Shop, Littlewoods and Sainsbury's. By the end of the year they are joined by seven others.</li>
  <li>Oxfam, Christian Aid, Fairtrade Foundation and the World Development Movement are the first NGO members, with the TUC representing trade unions.</li>
</ul>
