<p>Supply chain programmes remain a vital part of the ETI offer, but have evolved to take into account the ever changing business and human rights environment. The first three supply chain projects covered clothing from China, wine from South Africa and horticulture in Zambia and Zimbabwe. But in 1999, their purpose was very specific: to trial different methods of inspection, monitoring and verification and to conduct evaluations. Since then, our programmes have greatly expanded their focus. We now work where there are good opportunities to learn wider lessons and to embed better understanding of the links between business and human rights – as well as to address specific issues such as the difficulties Syrian refugees face in obtaining decent work in Turkey.</p>
