<div class="paragraphs">
  <p>In 2000, the world adopts eight Millennium Development Goals focussed on reducing poverty. The UN’s ask of companies is that they join the Global Compact. This emphasises the implementation of responsible business practices around human rights, labour standards, environmental performance and anti-corruption.</p>
</div>
