<div class="paragraphs">
  <p>Following discussions with specialist NGOs and trade unions, our first tripartite working group, the Homeworkers Working Group, is set up. At the start of 2002, the group commissions a review of current knowledge and practice in applying corporate codes of conduct to homeworkers. We agree to produce practical guidelines based on the experience of members and  to work together to address key issues. Once published, the Homeworkers Guide serves as an example for other guidance that follows, including comprehensive guidance on meeting the nine Base Code standards. The example of collaboration and cooperation is also a precursor to all future ETI working groups, such as our working groups that address migrant labour in Thailand’s seafood and Italy’s tomato sectors.
  </p>
</div>
