<p>Between 2002 and 2004, the ETI Homeworker Group, including NGOs representing homeworkers, and the TUC lobby the Department of Trade and Industry (DTI) to introduce a fairer system for piece work. We also urge that statutory employment rights be conferred on homeworkers.</p>

<p>The DTI agrees to amend National Minimum Wage Regulations in 2004 and clarifies its application to homeworkers. It phases in a new statutory system for setting piece-rates, for homeworkers and factory workers alike, through an accredited work measurement system.</p>

<p>The support of the retailers is a significant factor in the amendment and improvement of the National Minimum Wage Regulations. This represents a significant advance for homeworkers throughout the UK. Recognising that government legislation is vital, advocating for legal reform becomes another key strand of our work.</p>
