<p>in addition to supporting members as they seek to improve local working conditions, we pioneer helping local suppliers understand ETI Base Code compliance and the importance of developing sustainable business goals. The China office subsequently becomes a model for other ETI programme offices that are later set up in Bangladesh, India and Turkey.</p>
