
<div class="paragraphs">
  <p>Following the Morecambe Bay tragedy, we campaign for better legal protection for vulnerable workers in the UK. We lead a cross-industry alliance to lobby the government to introduce extra legal protection for up to 600,000 workers in the UK food industry. This campaign results in the Gangmaster (Licensing) Act 2006.</p>

  <p>Our work globally to protect vulnerable workers continues. We have, for example, recently published a Vulnerable Workers Toolkit as well as Due Diligence Guidance and advised companies on the export of state sponsored forced labour from North Korea.</p>
</div>

<ul class="list">
  <li>By the end of 2004, we have 24 corporate members.</li>
</ul>
