<p>WIETA was born out of ETI’s 1999 South Africa pilot project, and the development and growth of the relationship in 2005 is indicative of ETI’s partnership and alliance-building approach. It is also the beginnings of a shift in focus, emphasising the importance we place on local leadership in sourcing countries.</p>

<p>WIETA itself became fully independent in 2002 and was the first ever local multi-stakeholder initiative to tackle workers' conditions, bringing together the private sector, labour and civil society organisations in South Africa’s wine and agricultural sectors.</p>

<ul>
  <li>Three million workers are covered by ETI company members' codes of conduct.</li>
  <li>We offer 4,500 hours of training on ethical trade.</li>
</ul>
