<p>We steer members sourcing from the glassware companies to collaborate with their suppliers and other retailers to agree a joint response plan. This involves removing children from hazardous work, offering remediation and in some cases getting them back into education. Via a local NGO, young people are assisted in returning to college to learn skills such as welding, computing and cookery.</p>

<p>Bringing companies together to broker resolutions and facilitate remediation remains an important part of our approach. As such we seek to promote engagement and reach practical collaborative solutions, rather than find fault.</p>

<ul>
  <li>Four international trade union federations become actively involved with ETI.</li>
  <li>ETI has 43 corporate members with a combined turnover of £107 billion.</li>
  <li>30,554 suppliers are covered by members' ethical trade activities.</li>
</ul>
