<div class="paragraphs">
  <p>Following the initial 2007 relationship, in 2011 and 2017, we again team up with the Department of Health as well as the British Medical Association to produce and then revise an Ethical Procurement for Health Workbook. This reinforces the importance of ethical procurement in the health sector, particularly in the NHS supply chain. Crucially, the workbook builds awareness of labour risks in supply chains so that these can be addressed proactively and constructively.</p>
</div>
