<p>The reported improvements in homeworker conditions in India are a direct result of our Working Group’s decision to expand its remit to include best practice on how to improve the lives of homeworkers around the world. Corporate members start to routinely use its guidelines to trace hidden homeworkers in their supply chains, organise training for buyers and set out policies for company boards...</p>
