<div class="paragraphs">
  <p>The reported improvements in homeworker conditions in India are a direct result of our Working Group’s decision to expand its remit. Corporate members routinely use its guidelines to trace hidden homeworkers in their supply chains, organise training for buyers and set out policies for company boards...</p>
</div>

<ul class="list">
  <li>The Danish Ethical Trade Initiative (DIEH) is launched in February 2008. As in the UK and Norway, it brings together business, the trade union movement and civil society.</li>
</ul>
