<p>The reported improvements in homeworker conditions in India are a direct result of our Working Group’s decision to expand its remit. Corporate members routinely use its guidelines to trace hidden homeworkers in their supply chains, organise training for buyers and set out policies for company boards...</p>
