<div class="paragraphs">
  <p>In China, we train 996 workers and 34 managers on how to communicate constructively with each other to resolve workplace issues. We also deliver three days of bespoke workshops in the Caribbean concentrating on two main areas: labour law and discrimination against women. We train 70 site supervisors and their managers, who collectively oversee an estimated 4,000 workers.</p>

  <p>We continue to offer training to suppliers globally. This ranges from training on the basics of ethical trade, to modern slavery and social dialogue. And in China, we have recently started to offer training on social insurance – on the importance of pension provision and other worker benefits.</p>
</div>
