<p>LOCOG adopts the ETI Base Code and, for the first time in Olympic history, a mechanism is developed so that workers who produce Olympics merchandise can, if necessary, complain about their pay and conditions.</p>

<p>In 2010, we also see the first signs of legislative interest in addressing modern slavery. In September, the Governor of California signs into law the California Transparency in Supply Chains Act 2010 (effective from January 2012). This requires manufacturers and retailers doing business in California to disclose information on how they address the issues of slavery and human trafficking in their supply chains.</p>
