<p>Addressing workers' issues in the context in which they occur enables us to develop models for wider change. It is agreed that lessons captured in the course of the collective interventions in each supply chain should be shared widely in order to  maximise impact in tackling the root causes of low pay and poor working conditions.
</p>

<p>Importantly, in June, there is a step change in international thinking on business and human rights. The UN’s Human Rights Council unanimously approve the Guiding Principles for Business and Human Rights, the <a href="http://www.ohchr.org/Documents/Publications/GuidingPrinciplesBusinessHR_EN.pdf">UNGPs</a>.</p>

<p>The UNGP framework is the first corporate human rights responsibility initiative to be endorsed by the UN. It establishes a common global standard for preventing and addressing adverse human rights impacts of business activity. It also puts forward an approach based on due diligence.</p>
