<p>We have always been aware that global supply chains are complex and that sustained change takes time. It is why we choose our entry points with care. In Tamil Nadu, we initially focus on women's health in factories while campaigning against Sumangali schemes (bonded labour disguised as apprenticeships). In Rajasthan, we start by concentrating on occupational safety and health.</p>
<p>In both, starting with health-related work helped us to build trust among stakeholders. But, as the programmes have developed, we are tackling wider workers’ rights issues.</p>
