<p>The 8-storey Rana Plaza factory building collapse results in over 1,000 deaths and 2,500 injuries. It sends shockwaves through the international garment industry, galvanising collaborative action.</p>

<p>With a history of championing workers’ rights in Bangladesh’s garment sector (we helped to support a rise in the minimum wage twice in the preceding six years), we provide a forum for IndustriALL to present its proposed Accord on Fire and Building Safety in Bangladesh to member companies. The Accord (and the American-backed Alliance) are founded and drive forward legally binding changes in factory safety.</p>

<p>We also realise that more needs to be done to address unfair labour practices around wages, working conditions and worker representation. The following year, with our Danish and Norwegian counterparts, we therefore initiate a <a href="https://www.ethicaltrade.org/programmes/garments-bangladesh">social dialogue project</a> that focuses on worker empowerment.</p>

<p>Since then, as our social dialogue project has developed. An independent evaluation has found improved understanding of rights and responsibilities. The researchers also say that it has enhanced communication in an industry that too often exhibits deeply entrenched divisions between factory owners, their workers and workers’ representatives.</p>
