<p>The UNGPs (see 2011) outline a clear role for states to protect human rights within the business environment. This formally allows progressive companies to lobby governments for better working conditions in their supply chains. It also enables ETI and our members to collectively influence governments when workers’ rights are under attack. In Cambodia, this means working closely with local experts to convene meetings between international brands, global trade unions and the government.</p>

<p>At meetings with senior ministers, we acknowledge the importance of the garment and footwear industry to Cambodia, but also advise a common need to address calls for a new trade union law and an inclusive predictable national minimum wage setting mechanism. This advocacy is credited with helping bring about a 28% increase in Cambodian garment workers’ salaries in January 2015. Despite ongoing human rights difficulties, we and our members continue in our attempts to influence Cambodia and other governments on the rights enshrined in our Base Code and in the UNGPs.</p>
