<p>Our engagement with the Home Office spans a year and involves a broad cross-section of member companies, NGOs and trade unions. We take part in consultations and events with a clear call for the Act to cover business activities in supply chains. The TISC clause is consequently included and requires all companies operational in the UK with an annual turnover of £36m or more to complete an annual slavery and trafficking statement.</p>

<p>Constructive lobbying shows what can be achieved when companies combine their commercial leverage and engage in positive conversations with governments. The Modern Slavery Act creates a new understanding about ‘good’ corporate behaviour. It also draws a firmer and clearer line between those companies that recognise the value of responsible business, and those that do not.</p>

<p>In 2015 the UN agrees to work towards 17 Sustainable Development Goals (SDGs) which include Goal 8: to promote sustained, inclusive and sustainable economic growth, full and productive employment, and decent work for all.</p>
