<p>Migration has always been a feature of labour markets. But in 2016, with over four million of its citizens fleeing conflict, Syria dominates headlines and migrant working re-emerges as a crisis. Working conditions in Turkey (which is the third largest exporter of clothes and footwear to Europe) becomes a particular concern for international brands. Desperate to escape destitution, Syrian and other migrants seek work in Turkey’s informal sector for poverty wages.</p>

<p>From November, with funding from the UK’s Foreign and Commonwealth Office and companies, we put in place a <a href="https://www.ethicaltrade.org/programmes/syrian-refugees-working-in-turkeys-garment-sector">three year business and human rights programme</a> that brings together retailers, local employers and employer organisations, local refugee and international development agencies and local and international trade unions. The aim is to embed reform and encourage better employment conditions for both Syrian and Turkish workers. The aim is also to encourage local leadership.</p>
