<p>There is an increasing recognition that the complexity of global supply chains is resulting in a profound lack of visibility, and that this brings significant risks; not only for workers but for business too. Against this backdrop, our new digital reporting framework, <a href="https://www.ethicaltrade.org/blog/launch-perspective-etis-new-online-reporting-platform">Perspective</a>, will give corporate members access to new insights through data analytics and other functionalities, with the aim of driving further change in business practices. As it develops, it will incentivise members to think more strategically about their ethical trade activities. It will also give us a better understanding of what our corporate members are doing to concretely address labour rights issues in their supply chains.</p>
