<p>As we enter our third decade, and reach the halfway point in our latest <a href="https://www.ethicaltrade.org/about-eti/our-strategy">strategy</a> that links business to human rights, we continue to remain true to our founding principles of collaboration and cooperation between companies, NGOs and trade unions. Our pledge to workers in global supply chains is to keep their interests at the heart of everything we do. And our pledge to the wider ethical trade community is to commit to sharing what we learn along the way.</p>
