{% import "macros/timeline.njk" as timeline %}

{% extends "page.njk" %}

{% block main %}

<h1>Error (404)</h1>
<p>The page you've requested does not exist. Try <a href="/">here</a> instead.</p>

{% endblock %}
