{% import "macros/timeline.njk" as timeline %}

{% extends "page.njk" %}

{% block main %}

<div class="tl">

  <div class="tl-intro">
    <div class="tl-intro__inner">
      <h1>Error (404)</h1>
      <p>The page you've requested does not exist. Try <a href="/">here</a> instead.</p>
    </div>
  </div>

</div>

{% endblock %}
