{% import "macros/timeline.njk" as timeline %}

{% extends "html.njk" %}

{% block content %}

<header class="page-header">
  <h1>Ethical Trading Initiative - 20 years</h1>
</header>

<div class="timeline">

  {% for entry in entries %}
  {{ timeline.entry(
    uid     = loop.index0,
    type    = entry.type,
    date    = entry.date,
    title   = entry.title,
    body    = entry.body,
    btn_url = entry.btn_url,
    media   = entry.media
    )
  }}
  {% endfor %}

</div>

{% endblock %}
