{% extends "html.njk" %}

{% block content %}

<header class="page-header">
  <h1>Ethical Trading Initiative - 20 years</h1>
</header>

<section class="timeline">

  {% include "partials/timeline-entry.njk" %}

  <div class="timeline-entry">

    <div class="timeline-entry-icon icon--video">
      <img src="images/icon-video.svg" alt="Movie">
    </div>

    <div class="timeline-entry-content">
      <h2>Title of section 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
      <a href="#0" class="btn read-more">Read more</a>
      <span class="entry-date">Jan 18</span>
    </div><!-- timeline-entry-content -->

  </div><!-- timeline-entry -->

  <div class="timeline-entry">

    <div class="timeline-entry-icon icon--picture">
      <img src="images/icon-picture.svg" alt="Picture">
    </div>

    <div class="timeline-entry-content">
      <h2>Title of section 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit,
        itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat
        aliquam sunt similique aut adipisci.</p>
      <a href="#0" class="btn read-more">Read more</a>
      <span class="entry-date">Jan 24</span>
    </div><!-- timeline-entry-content -->

  </div><!-- timeline-entry -->

  <div class="timeline-entry">

    <div class="timeline-entry-icon icon--location">
      <img src="images/icon-location.svg" alt="Location">
    </div>

    <div class="timeline-entry-content">
      <h2>Title of section 4</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <a href="#0" class="btn read-more">Read more</a>
      <span class="entry-date">Feb 14</span>
    </div><!-- timeline-entry-content -->

  </div><!-- timeline-entry -->

  <div class="timeline-entry">
    <div class="timeline-entry-icon icon--location">
      <img src="images/icon-location.svg" alt="Location">
    </div>

    <div class="timeline-entry-content">
      <h2>Title of section 5</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
      <a href="#0" class="btn read-more">Read more</a>
      <span class="entry-date">Feb 18</span>
    </div><!-- timeline-entry-content -->

  </div><!-- timeline-entry -->

  <div class="timeline-entry">
    <div class="timeline-entry-icon icon--video">
      <img src="images/icon-video.svg" alt="Movie">
    </div>

    <div class="timeline-entry-content">
      <h2>Final Section</h2>
      <p>This is the content of the last section</p>
      <span class="entry-date">Feb 26</span>
    </div><!-- timeline-entry-content -->

  </div><!-- timeline-entry -->

</section><!-- timeline -->

{% endblock %}
