{% import "macros/timeline.njk" as timeline %}

{% extends "page.njk" %}

{% block main %}

  <div class="pane">
    <div class="pane__inner">
      <h1>Privacy</h1>
      <p>ETI is committed to protecting and respecting your privacy and your data.</p>
      <ul>
        <li>Policy for: https://history.ethicaltrade.org</li>
        <li>This policy was last updated on 29 May 2018.</li>
        <li>Data controller: Ethical Trading Initiative, 8 Coldbath Square, London EC1R 5HL</li>
        <li>Registered No. 3578127</li>
      </ul>
      <h2>Third-party links</h2>
      <p>This website may include links to third-party websites. Clicking on those links may allow third parties to collect or share data about you. We do not control these third-party websites and are not responsible for their privacy policies.</p>
      <h2>What we collect</h2>
      <p>The only Personally Identifiable Information (PII) that passes through this website is via Google Analytics which is used to track user interaction - this is achieved via cookies.</p>
      <h2>IP address and other tracking</h2>
      <p>We may collect information about your computer, including operating system and browser type, to inform improvements to the website. User IP addresses shared with Google Analytics are anonymised.</p>
      <h2>What specific cookies does this website use?</h2>
      <table>
        <thead>
        <tr>
          <th>Cookie</th>
          <th>Origin</th>
          <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>__cfduid</td>
          <td>CloudFlare</td>
          <td>Used to identify individual clients behind a shared IP address and apply security settings on a per-client basis. <a href="https://support.cloudflare.com/hc/en-us/articles/200170156-What-does-the-Cloudflare-cfduid-cookie-do-">More info</a>.
          </td>
        </tr>
        <tr>
          <td>_ga</td>
          <td>Google Analytics</td>
          <td>Used to distinguish users. <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">More info</a>.
          </td>
        </tr>
        <tr>
          <td>_gid</td>
          <td>Google Analytics</td>
          <td>Used to distinguish users. <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">More info</a>.
          </td>
        </tr>
        <tr>
          <td>_gat</td>
          <td>Google Analytics</td>
          <td>Used to throttle request rate. <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">More info</a>.
          </td>
        </tr>
        </tbody>
      </table>
      <h2>Changes to our privacy policy</h2>
      <p>Any changes we may make to the privacy policy for this website will be posted on this page.</p>
      <h2>Any concerns?</h2>
      <p>If you have any concerns about privacy in relation to this website, please contact the Data Protection Manager via
        <a href="mailto:eti@eti.org.uk">eti@eti.org.uk</a>.</p>
    </div>
  </div>

{% endblock %}
