{% macro entry( uid='', type='text', date='', title='', body='', btn_url='', gallery={} ) -%}

  <div class="timeline-entry">

    <div class="timeline-entry-icon icon--{{ type | lower }}">
      <img src="images/icon-{{ type | lower }}.svg" alt="{{ type | capitalize }}">
    </div>

    <div class="timeline-entry-content">
      <h2>{{ title }}</h2>
      {{ body | safe }}
      {% if gallery %}
      <ul>
        {% for item in gallery %}
        <li>
          <a data-fancybox='gallery-{{ uid }}' href='{{ item.href }}'>{{ item.label }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if btn_url %}
      <a href="{{ btn_url }}" target="_blank" class="btn read-more">Read more</a>
      {% endif %}
      <span class="entry-date">{{ date }}</span>
    </div>

  </div>

{%- endmacro %}
