{% import "macros/gallery.njk" as gallery %}

{% macro entry( uid='', year='', month='', title='', body='', btn_url='', media={} ) -%}

  <div class="timeline-entry">

    <div class="timeline-entry-icon">{{ year }} {{ month }}</div>

    <div class="timeline-entry-content">
      <h2>{{ title }}</h2>
      {{ body | safe }}
      {% if media %}
      <ul class="timeline-entry-gallery">
        {% for item in media %}
        <li class="gallery-item">
          {{ gallery.gallery_item(
            label       = item.label,
            gallery_uid = uid,
            img_id      = item.img_id,
            video_url   = item.video_url
            )
          }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if btn_url %}
      <a href="{{ btn_url }}" target="_blank" class="btn read-more">Read more</a>
      {% endif %}
      <span class="entry-date">{{ year }} {{ month }}</span>
    </div>

  </div>

{%- endmacro %}
