body {
  background: white url(../images/bitmap/body-bg/fishermen.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  // Prevents this element from noticeably resizing as entries animate in.
  overflow-y: hidden;
}
