.page-header {
  text-align: center;
  background-color: $c-grey-d2;
  padding: $space--large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    flex: 0 1 auto;
    color: white;
    margin: 0;
    @include breakpoint($bp-med) {
      margin: 0;
    }
  }
}
