.page-header {
  $bg-color: $c-grey-d1;
  text-align: center;
  background-color: $bg-color;
  padding: $space--large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 20;
  box-shadow: 0 4px 2px 4px rgba(black, 0.05);

  h1 {
    flex: 0 1 auto;
    color: white;
    margin: 0;
  }

  @include breakpoint($bp-med) {
    @include padding($space--large*2 null);
     h1 {
       margin: 0;
     }
  }

}
