.viewport {
  perspective: 1px;
  perspective-origin: 0 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  // overflow-y: scroll; // Doesn't seem to make much difference.
  transform-style: preserve-3d;
}

.parallax-item {
  transform-origin: 0 0;
  &.fast {
    transform: translateZ(-1px) scale(2);
  }
  &.slow {
    transform: translateZ(-2px) scale(3);
  }
}

// .debris {
//   position: relative;
//   width: 100%;
//   z-index: -1;
//   width: 100%;
//   height: 100px;
//   background-color: rgba(white, 0.5);
//   // Close the relative space by adding negative margin-top equal to
//   // the element's height or any borders.
//   margin-top: -100px;
//   // Position vertically.
//   // This isn't very accurate, likely due to the scaling and 3D transforms.
//   // Vertical positioning should vary by breakpoint point to account for varying document length.
//   top: 100vw;
//   left: 0;
// }
