.timeline {
  $v-line-width: 4px;
  position: relative;
  padding-top: 2em;

  &::before {
    // This is the vertical line.
    content: '';
    position: absolute;
    top: 0;
    left: $grid-padding + ($marker-width--small / 2) - ($v-line-width/2);
    height: 100%;
    width: $v-line-width;
    background-color: white;
    z-index: 5;
  }

  @include breakpoint($bp-xl) {
    padding-top: 4em;
    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}
