.timeline-entry-marker {
  @include size($marker-width--small);
  position: absolute;
  top: 0;
  left: $grid-padding;
  z-index: 10;
  border-radius: 100%;
  background-color: $c-brand-pale-yellow;
  // box-shadow: $box-shadow--default;

  @include breakpoint($bp-xl) {
    @include size($marker-width--large);
    margin-left: 0 - ($marker-width--large/2);
    top: 0;
    left: 50%;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    .cssanimations &.is-hidden {
      visibility: hidden;
    }
    .cssanimations &.bounce-in {
      visibility: visible;
      animation: bounce-1 0.6s;
    }
  }
}
