.timeline-entry-content {
  $bg-color: white;
  @include clearfix;
  position: relative;
  margin-left: 60px;
  background-color: $bg-color;
  padding: 1em;
  box-shadow: $box-shadow--default;

  &::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -20px;
    display: block;
    width: 20px;
    height: 0;
    border-top: 5px dotted white;
  }

  h2 {
    margin-top: 0;
    @include breakpoint($bp-med) {
      margin-top: 0;
    }
  }

  .read-more {
    @include btn-base;
    float: right;
  }

  @include breakpoint($bp-xl) {
    margin-left: 0;
    padding: 1.6em;
    // Half the available space,
    // minus half the date marker width,
    // minus a gap.
    width: calc(50% - 30px - 30px);

    &::before {
      top: 30px;
      left: auto;
      right: -30px;
      width: 30px;
    }

    .timeline-entry:nth-child(even) & {
      float: right;

      &::before {
        right: auto;
        left: -30px;
      }
    }

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      animation: bounce-2 0.6s;
    }
  }
}

// Parent specific overrides
// -----------------------------------------------------------------------------

@include breakpoint($bp-xl) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .timeline-entry:nth-child(even) .timeline-entry-content.bounce-in {
    animation: bounce-2-inverse 0.6s;
  }
}
