.timeline {

  @include clearfix;

  // This class is used to give a max-width to the element it is applied to,
  // and center it horizontally when it reaches that max-width.
  max-width: $bp-xl;
  margin: 0 30px;

  position: relative;
  padding: 2em 0;


  &::before {
    // This is the vertical line.
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background-color: white;
  }

  @include breakpoint($bp-xl) {
    margin: 0 auto;
    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}
