.btn-wrapper {
  text-align: center;
}

.btn {
  @include btn-base;
  font-family: $f-primary;
}

.btn__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: $space;
  width: 16px;
  height: 16px;
  fill: white;
}

.btn__label {
  display: inline-block;
  vertical-align: middle;
}
