.timeline-entry-card {
  $bg-color: white;
  $connection-width--small: 28px;
  $connection-width--large: 45px;
  position: relative;
  margin: 0 $grid-padding 0 ($grid-padding + $marker-width--small + $connection-width--small);
  // background-color: $bg-color;
  // box-shadow: $box-shadow--default;

  &::before {
    // Connection line between entry card and timeline marker.
    content: '';
    position: absolute;
    top: $marker-width--small/2;
    left: 0 - $connection-width--small;
    display: block;
    width: $connection-width--small;
    height: 0;
    border-top: 5px dotted white;
  }

  .timeline-entry.expanded & {
    .body-connector {
      $line-width: 5px;
      height: 30px;
      content: '';
      position: relative;
      bottom: 0;
      left: calc(50% - #{$line-width/2});
      display: block;
      width: 0;
      border-left: $line-width dotted white;
      z-index: 10;

      // &::after {
      //   @include size($marker-width--small);
      //   content: '';
      //   position: absolute;
      //   bottom: 0 - ($marker-width--small/2);
      //   left: 0 - ($marker-width--small/2) - ($line-width/2);
      //   border-radius: 100%;
      //   background-color: $c-brand-pale-yellow;
      // }

      @include breakpoint($bp-xl) {
        height: 50px;
        // &::after {
        //   @include size($marker-width--large);
        //   bottom: 0 - ($marker-width--large/2);
        //   left: 0 - ($marker-width--large/2) - ($line-width/2);
        // }
      }
    }
  }

  .card__title {
    text-align: center;
    padding: 1em;
    background-color: $c-grey-d1;
    h2 {
      color: white;
      margin: 0;
      @include breakpoint($bp-med) {
        margin: 0;
      }
    }
  }

  .card__body {
    @include clearfix;
    background-color: $bg-color;
    padding: 1em;
  }

  .btn-wrapper {
    text-align: center;
  }

  .read-more {
    @include btn-base;
    @include btn-colors(white, $c-brand-purple);
    // float: right;
  }

  @include breakpoint($bp-xl) {
    float: left;
    margin: 0;
    // Half the available space,
    // minus half the date marker width,
    // minus a gap.
    width: calc(50% - 30px - 30px);

    &::before {
      top: $marker-width--large/2;
      left: auto;
      right: 0 - $connection-width--large;
      width: $connection-width--large;
    }

    .card__title {
      padding: 1.6em;
    }

    .card__body {
      padding: 1.6em;
    }

    .timeline-entry:nth-child(even) & {
      float: right;

      &::before {
        right: auto;
        left: 0 - $connection-width--large;
      }
    }

  }
}

// Parent specific overrides
// -----------------------------------------------------------------------------

// Animated transitions as entries become "active".
.cssanimations.no-touchevents .timeline-entry {
  .timeline-entry-card,
  .timeline-entry-pullquote,
  .timeline-entry-body {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    transform: translate3d(-50px, 0, 0);
  }
  &.is-active {
    .timeline-entry-card,
    .timeline-entry-pullquote,
    .timeline-entry-body {
      visibility: visible;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @include breakpoint($bp-xl) {
    // Different x starting position for odd entries (entries on the left).
    &:nth-child(odd) {
      .timeline-entry-card,
      .timeline-entry-pullquote,
      .timeline-entry-body {
        transform: translate3d(50px, 0, 0);
      }
    }
    // Yes, we do need to do this again now :)
    &.is-active {
      .timeline-entry-card,
      .timeline-entry-pullquote,
      .timeline-entry-body {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
