.timeline-entry-body {
  background-color: white;
  padding: 2em;

  // Visibility
  .js & {
    @include element-invisible;
  }
  .timeline-entry.expanded & {
    @include element-visible;
  }

  .inner {
    max-width: $bp-xl;
    margin: 0 auto;
    padding: 0 $grid-padding;
    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint($bp-xl) {
    column-count: 2;
    column-gap: 1em;
  }
}
