.timeline-entry-body {
  $connection-width--small: 28px; // width of parent entry connector
  // padding-left lines up with .timeline-entry-card's margin-left.
  margin: 0 $grid-padding 0 ($grid-padding + $marker-width--small + $connection-width--small);

  // Visibility
  .js & {
    @include element-invisible;
  }
  .timeline-entry.expanded & {
    @include element-visible;
  }

  .inner-wrapper {
    background-color: white;
    padding: 1em;
    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    @include highlighted-block;
    color: $c-brand-burgundy;
    li {
      margin: 1rem 0 0 1rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  @include breakpoint($bp-xl) {
    margin: 0 auto;
    max-width: $bp-xl;
    padding: 0 $grid-padding;
    .inner-wrapper {
      padding: 2em;
      column-count: 2;
      column-gap: 2em;
    }
  }
}
