// Animated transitions as entries become "active".
.cssanimations.no-touchevents .timeline-entry {
  .timeline-entry-card,
  .timeline-entry-pullquote,
  .timeline-entry-body {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    transform: translate3d(-50px, 0, 0);
  }
  &.is-active {
    .timeline-entry-card,
    .timeline-entry-pullquote,
    .timeline-entry-body {
      visibility: visible;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @include breakpoint($bp-xl) {
    // Different x starting position for odd entries (entries on the left).
    &:nth-child(odd) {
      .timeline-entry-card,
      .timeline-entry-pullquote,
      .timeline-entry-body {
        transform: translate3d(50px, 0, 0);
      }
    }
    // Yes, we do need to do this again now :)
    &.is-active {
      .timeline-entry-card,
      .timeline-entry-pullquote,
      .timeline-entry-body {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
