.timeline-entry-body {
  background-color: white;
  padding: 2em;

  // Visibility
  .js & {
    @include element-invisible;
  }
  .timeline-entry.expanded & {
    @include element-visible;
  }

  .inner-wrapper {
    max-width: $bp-xl;
    margin: 0 auto;
    padding: 0 $grid-padding;
    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    @include highlighted-block;
    color: $c-brand-burgundy;
    li {
      margin: 1rem 0 0 1rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  @include breakpoint($bp-large) {
    .inner-wrapper {
      column-count: 2;
      column-gap: 2em;
    }
  }
}
