.timeline {
  position: relative;
  margin: 0 auto;
  max-width: 760px;

  @include breakpoint($bp-xl) {
    max-width: $bp-xl;
    &::before {
      // This is the vertical line.
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: $tl-line-width;
      margin-left: -($tl-line-width/2);
      background-color: rgba(white, 0.6);
      z-index: 0;
    }
  }
}
