.timeline-entry-card {
  $bg-color: white;
  $connection-width--small: 28px;
  $connection-width--large: 45px;
  position: relative;
  margin: 0 $grid-padding 0 ($grid-padding + $marker-width--small + $connection-width--small);

  &::before {
    // Connection line between entry card and timeline marker.
    content: '';
    position: absolute;
    top: $marker-width--small/2;
    left: 0 - $connection-width--small;
    display: block;
    width: $connection-width--small;
    height: 0;
    border-top: 5px dotted white;
  }

  .card__title {
    text-align: center;
    padding: 1em;
    background-color: $c-grey-d1;
    h2 {
      color: white;
      margin: 0;
      @include breakpoint($bp-med) {
        margin: 0;
      }
    }
  }

  .card__lead-image {
    img {
      width: 100%;
    }
  }

  .card__body {
    @include clearfix;
    background-color: $bg-color;
    padding: rem-scale(2);
  }

  .btn-wrapper {
    text-align: center;
  }

  .read-more {
    @include btn-base;
    @include btn-colors(white, $c-brand-purple);
  }

  @include breakpoint($bp-xl) {
    float: left;
    margin: 0;
    // Half the available space,
    // minus half the date marker width,
    // minus a gap.
    width: calc(50% - 30px - 30px);

    &::before {
      top: $marker-width--large/2;
      left: auto;
      right: 0 - $connection-width--large;
      width: $connection-width--large;
    }

    .card__title {
      padding: 1.6em;
    }

    .card__body {
      padding: 1.6em;
    }

    .timeline-entry:nth-child(even) & {
      float: right;

      &::before {
        right: auto;
        left: 0 - $connection-width--large;
      }
    }

  }
}
