.timeline-entry {
  position: relative;
  margin: 0 auto;
  padding-top: 2em;
  &:first-child {
    margin-top: 0;
  }
  .timeline-entry-initial {
    @include clearfix;
    margin: 0 auto;
  }

  &::before {
    // This is the vertical line.
    content: '';
    position: absolute;
    top: 0;
    left: $grid-padding + ($marker-width--small / 2) - ($tl-line-width/2);
    height: 100%;
    width: $tl-line-width;
    background-color: rgba(white, 0.6);
    z-index: 0;
  }

  @include breakpoint($bp-xl) {
    margin-top: 4em;
    &::before {
      // This is the vertical line.
      content: none;
    }
    &:first-child {
      margin-top: 0;
    }
    .timeline-entry-initial {
      padding: 0 $grid-padding;
    }
  }
}
