.tl-entry {
  position: relative;
  margin: 2em auto;
  .tl-entry-initial {
    @include clearfix;
    margin: 0 auto;
  }

  @include breakpoint($bp-xl) {
    margin: 4em auto;
    .tl-entry-initial {
      padding: 0 $grid-padding;
    }
  }
}
