.tl-entry-list {
  $connection-width--small: 28px;
  margin: 2em $grid-padding 0 ($grid-padding + $marker-width--small + $connection-width--small);
  ul {
    margin: 0;
    padding: rem-scale(2);
    background-color: lighten($c-brand-bright-yellow, 35%);
    font-family: $f-secondary;
    color: $c-brand-burgundy;
  }
  li {
    margin: 1rem 0 0 1rem;
    &:first-child {
      margin-top: 0;
    }
    a {
      @include link-colors($c-brand-purple);
      text-decoration: underline;
    }
  }
  .btn-wrapper {
    margin-top: 2em;
  }
}

@include breakpoint($bp-xl) {
  // TODO: The 30px & 60px values below should probably be driven by a variable.
  .tl-entry-list {
    width: calc(50% - 30px - 30px);
    margin: 0 0 0 60px;
    float: right;
    ul {
      padding: 2em;
    }
  }

  .tl-entry:nth-child(even) {
    .tl-entry-list {
      float: left;
      margin: 0 60px 0 0;
    }
  }
}
