// Animated transitions as entries become "active"
// -----------------------------------------------------------------------------

.cssanimations.no-touchevents .tl-entry {
  .tl-entry-card,
  .tl-entry-pullquote,
  .tl-entry-body {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    transform: translate3d(-50px, 0, 0);
  }
  &.is-active {
    .tl-entry-card,
    .tl-entry-pullquote,
    .tl-entry-body {
      visibility: visible;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @include breakpoint($bp-xl) {
    .tl-entry-pullquote {
      transform: translate3d(50px, 0, 0);
    }
    // Different x starting position for odd entries (entries on the left).
    &:nth-child(odd) {
      .tl-entry-card,
      .tl-entry-body {
        transform: translate3d(50px, 0, 0);
      }
      .tl-entry-pullquote {
        transform: translate3d(-50px, 0, 0);
      }
    }
    // Yes, we do need to do this again now :)
    &.is-active {
      .tl-entry-card,
      .tl-entry-pullquote,
      .tl-entry-body {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

// Toggle concealed entry content
// -----------------------------------------------------------------------------

.js {
  // Basic accessible hide if JS is enabled
  .card__body-continued,
  .tl-entry-list {
    @include element-invisible;
  }
  // Animate if browser support is there
  &.cssanimations {
    .card__body-continued {
      transition: all 0.2s ease-out;
      transform: translate3d(0, -50px, 0);
    }
    .tl-entry-list {
      transition: all 0.2s ease-out;
      transform: translate3d(0, 50px, 0);
    }
  }
}

.tl-entry.expanded {
  // Basic accessible show if JS is enabled (.expanded is added by JS)
  .card__body-continued,
  .tl-entry-list {
    @include element-visible;
  }
}
// Animate if browser support is there
.cssanimations {
  .tl-entry.expanded {
    .card__body-continued,
    .tl-entry-list {
      transform: translate3d(0, 0, 0);
    }
  }
}
