.tl-entry-marker {
  @include size($marker-width--small);
  position: absolute;
  top: 2em;
  left: $grid-padding;
  z-index: 10;
  border-radius: 100%;
  background-color: $c-brand-pale-yellow;

  @include breakpoint($bp-xl) {
    @include size($marker-width--large);
    top: 4em;
    left: 50%;
    margin-left: 0 - ($marker-width--large/2);
  }
}
