.tl-entry-list {
  $connection-width--small: 28px;
  margin: 2em $grid-padding 0 ($grid-padding + $marker-width--small + $connection-width--small);
  font-family: $f-secondary;
  background-color: lighten($c-brand-bright-yellow, 35%);
  color: $c-brand-burgundy;
  padding: rem-scale(2);
  li {
    margin: 1rem 0 0 1rem;
    &:first-child {
      margin-top: 0;
    }
  }

  // Visibility
  .js & {
    @include element-invisible;
  }
  .tl-entry.expanded & {
    @include element-visible;
  }

}

@include breakpoint($bp-xl) {
  // TODO: The 30px & 60px values below should probably be driven by a variable.
  .tl-entry-list {
    width: calc(50% - 30px - 30px);
    margin: 0 0 0 60px;
    padding: 2em;
    float: right;
  }

  .tl-entry:nth-child(even) {
    .tl-entry-list {
      float: left;
      margin: 0 60px 0 0;
    }
  }
}
