.tl-entry {
  @include clearfix;
  position: relative;
  margin: 0 auto;
  padding: 2em 0;
  .read-more {
    @include btn-colors(white, $c-brand-purple);
  }

  @include breakpoint($bp-xl) {
    border-bottom: 2px dotted rgba(white, 0.3);
    padding: 4em $grid-padding*2;
    &:last-child {
      border-bottom: none;
    }
  }
}
